html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background-image: url('./images/background.png');
  color: beige;
  font-family: Arial , Helvetica , sans-serif;
}

h2 {
  align-items: center;
  color: beige;
  margin: auto;
  text-align: center;
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
}

.imagem {
  width: 170px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10%;
  width: 800px;
}

.mission-card {
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 0 5px 3px hsla(209, 61%, 75%, 0.788);
  color: black;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  text-align: center;
  width: 20rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  align-items: center;
  text-align: center;
}

p {
  display: flex;
  padding: 10px;
}

.title {
  display: flex;
  font-size: 40px;
  margin-bottom: 100px;
  margin-left: 40%;
  margin-right: 40%;
}

.planet-name {
  padding: 10px;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

